@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100%;
}
/* setup */
html,
body,
.holster {
    height: 100%;
}
.holster {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    font-family: monospace;
}

.viewport {
    /*display: flex;*/
    overflow: auto;
    outline: 1px dashed lightgray;
    flex: none;
}

.viewport.y {
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
}
/* scroll-snap */

.y.mandatory-scroll-snapping {
    scroll-snap-type: y mandatory;
}

.y.proximity-scroll-snapping {
    scroll-snap-type: y proximity;
}

.viewport > div {
    text-align: center;
    scroll-snap-align: center;
    flex: none;
}

.y.viewport > div:first-child {
    line-height: 1.3;
}

.x.viewport > div {
    width: 100%;
    height: 128px;
}

.y.viewport > div {
    width: 100%;
    height: 100%;
}
